#cont{
    background-color: gray;
    border-radius: 5px;
}
#tablebox{
    margin-left: 25px;
    height: 50px;
    width: 250px;
    margin-top: 20px;
}
table{
    display: flex;
    justify-content: center;
   
    /* text-align: center; */
}
input{
    
    height:50px;
    width:50px;
    border-radius:10px;
    border: 1px solid whitesmoke;
    

}
.opr{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: rgb(32, 126, 32);
}
.fun{
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
    border: rgba(0, 0, 0, 0.49);
}
